<div class="card">
  <ul class="list-group list-group-flush">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a New topic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <label>Title</label><br>
            <input type="text" [(ngModel)]='this.ContentService.topictitle'class="form-control" ><br>
            
            <label for="Instruction">Type</label><br>
            <input type="radio" id="Task" name="Instruction" value="Task"  [(ngModel)]='this.ContentService.topictype' >
            <label for="Task">Task</label><br>
            <input type="radio" id="Pre-read" name="Instruction" value="Pre-read"  [(ngModel)]='this.ContentService.topictype'>
            <label for="Pre-read">Pre-read</label><br>
            <hr>
            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]='this.ContentService.topicContent'></angular-editor>

            <div class="text-right m-3">
              
            </div>
            <angular-editor [placeholder]="'Instruction'" [(ngModel)]='this.ContentService.topicInstructions'></angular-editor>
            <div class="text-right m-3">
              
            </div>

          </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="this.ContentService.CreateTopic()">Create Topic</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-danger" (click)="open(content)"> + Add Topic</button>





    <li class="list-group-item">Manage</li>
    <li class="list-group-item" *ngFor="let item of this.ContentService.topics;let i =index">{{this.ContentService.topics[i].topictitle}}<span class="close mt-1 ml-3" (click)="this.ContentService.deletetopic(i)" [ngStyle]="{color: 'red', cursor: 'pointer'}" >x</span>
      <span class="close"  [ngStyle]="{color: 'red', cursor: 'pointer'}">
        <button class="btn btn-outline-danger" >{{this.ContentService.topictype}}</button>
      </span>
      <span class="close mr-3"  [ngStyle]="{color: 'red', cursor: 'pointer'}">
        <button class="btn btn-success" >Edit</button>
      </span>
    </li>


  </ul>
</div>